<nav>
    <br>
    <br>
    <br>
    <h3>MWUAPS Logo Goes Here</h3>
    <br>
    <br>
    <br>
    <ul>
        <li><a href="/wiki">Main Page</a></li>
        <li><a href="wiki/news">News</a></li>
        <li><a href="wiki/recent">Recent Changes</a></li>
        <li><a href="/wiki">Random Page</a></li>
        <li><br><br></li>
        <li>Official Links</li>
        <li>______________</li>
        <li><a href="/">Official Site</a></li>
        <li><a href="https://discord.gg/Rarq6egpje">Discord</a></li>
        <li><a href="/">Twitter</a></li>
        <li><a href="https://www.reddit.com/r/mwuaps/">Reddit</a></li>
        <li><br><br></li>
        <li>Contents</li>
        <li>______________</li>
        <li><a href="/wiki">Story</a></li>
        <li><a href="wiki/news">Characters</a></li>
        <li><a href="wiki/recent">Locations</a></li>
    </ul>
</nav>