<nav>
    <br>
    <h5>MWUAPS Logo Goes Here</h5>
    <br>
    <ul class='nav-ul'>
        <li><a href="{{ "/wiki" | prepend: site.baseurl}}">Main Page</a></li>
        <li><a href="{{ "/wiki/news" | prepend: site.baseurl}}">News</a></li>
        <li><a href="{{ "/wiki/recent" | prepend: site.baseurl}}">Recent Changes</a></li>
        <li><a href="{{ "/wiki" | prepend: site.baseurl}}">Random Page</a></li>
        <li><br></li>
        <li>Official Links</li>
        <li>______________</li>
        <li><a href="/">Official Site</a></li>
        <li><a href="https://discord.gg/Rarq6egpje">Discord</a></li>
        <li><a href="https://twitter.com/mwuaps_game">Twitter</a></li>
        <li><a href="https://www.reddit.com/r/mwuaps/">Reddit</a></li>
        <li><br></li>
        <li>Contents</li>
        <li>______________</li>
        <li><a href="{{ "/wiki/story" | prepend: site.baseurl}}">Story</a></li>
        <li><a href="{{ "/wiki/characters" | prepend: site.baseurl}}">Characters</a></li>
        <li><a href="{{ "/wiki/locations" | prepend: site.baseurl}}">Locations</a></li>
    </ul>
</nav>