---
---
nav {
    background-color: #fbd62d;
    border: 1px solid #bfbe73;
    border-radius: 3px;
    width: 200px;
    margin-right: 10px;
    max-height: 600px;
}

.nav-ul {
    list-style: none;
    padding-left: 15px;
    margin-top: 10px;
}

.wiki {
    display: flex;
    flex-direction: row
}

.content {
    background-color: #fbd62d;
    border: 1px solid #bfbe73;
    border-radius: 3px;
    flex: flex-grow;
    width: 100%;
    padding: 5px;
}

h1 {
    text-align: center;
}

h5 {
    text-align: center;
}

.content-body {
    display: flex;
    justify-content: space-between;
}

.content-body h5 {
    width: 100%;
    color: white;
    background-color: black;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-top: 0px;
    margin-bottom: 0px;
    
}

.content-left {
    width: 79.9%;
    background-color: #ffffff94;
}

.content-right {
    width: 20%;
}

.category-box {
    display: flex;
    justify-content: space-between;
}

.category {
    width: 24.9%;
}

.category li {
    margin-bottom: 5px;
}

.content-text {
    padding: 10px;
}

.spoiler {
    background-color: #212529;
}

.spoiler:hover {
    background-color: #ffffff94;
}

.info-box {
    width: 25%;
    float: right;
    background-color: #ffffff94;
    border: 1px solid #bfbe73;
    border-radius: 3px;
    padding: 15px;
}

.info-box p {
    margin-bottom: 5px;
}

.chapter {
    background-color: white;
    padding: 20px;
}